# Version control
.git
.gitignore

# IDE and editor files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment and secrets
.envrc
.direnv
*.env

# CI/CD and project config
.github
.golangci.yml
.goreleaser.yaml

# Documentation
README.md
LICENSE

# Docker files
Dockerfile*
.dockerignore
